@keyframes back-glow {
    from {
        background-position: 0 0;
    } to {
        background-position: 50% 50%;
    }
}

body {
    background: linear-gradient(cyan, darkcyan);
    background-size: 400% 400%;
    animation: back-glow 13s alternate ease-in-out infinite;
}

#app {
    margin: auto;
}